.widget {
    display: flex;
    flex-direction: column;
}

h1, p, h3, h2 {
    margin: 0;
}

h3 {
    font-weight: normal;
}

.list-title {
    color: var(--ring-disabled-color);
    margin: 0;
}

.list-element {
    padding: 16px 0;
    border-top: 1px solid var(--ring-tag-background-color);
}

.error {
    color: var(--ring-error-color);
    padding: 16px 0;
}

.list-element:first-child {
    border-top: none;
    padding-top: 8px;
}

.searchbar-input {
    outline: none;
    width: 19ch;
    transition: width 0.2s ease-in-out;
    background-color: var(--ring-content-background-color);
    border: none;
}

.searchbar-input:focus {
    border-color: var(--ring-main-purple-color);
    width: 30ch;
}

.searchbar {
    border-radius: 4px;
    border: 1px solid var(--ring-borders-color);
    display: flex;
    background-color: var(--ring-content-background-color);
    padding: 4px;
    align-items: center;
}

.widget-content-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widget-header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    border-bottom: 1px solid var(--ring-tag-background-color);
}

.list {
    display: flex;
    flex-direction: column;
}

.widget-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--ring-unit) * 2);
    padding: 32px;
}

.divider {
    align-self: stretch;
    width: max-content;
}
