.widget {
    display: flex;
    flex-direction: column;
}

h1, p {
    margin: 0;
}

.list-title {
    color: var(--ring-grey-fill-accent-color);
    margin: 0;
}

.widget-header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    border-bottom: 1px solid var(--ring-tag-background-color);
}

.widget-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--ring-unit) * 2);
    padding: 32px;
}

.rich-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.divider {
    align-self: stretch;
}
